{% if value is not null %}
    <div class="form-widget">
        <div class="form-control">
            {% for image in value %}
                <a href="#" class="easyadmin-thumbnail" >
                    <img src="/wdev_maya/eindwerk/images/products/{{ image.image }}">
                </a>

{#                <div id="easyadmin-lightbox-{{ item.id }}" class="easyadmin-lightbox">#}
{#                    <img src="/wdev_maya/eindwerk/uploads/files/{{ image.image }}">#}
{#                </div>#}
            {% endfor %}
        </div>
    </div>
{% endif %}